{% extends 'base.html.twig' %}

{% block body %}

    {% include '@SoftuniProducts/topnav.html.twig' %}
    <h1>Products list</h1>
    <ul>
        <li>
            <a href="{{ path('admin_product_new') }}">Create a new product</a>
        </li>
    </ul>
    <article>
    <ul div="article">
        {% for product in products %}
            <li><img src="{{asset('uploads/product/' ~  product.path) }}"></li>
            <li><h2>Title: {{ product.title }}</h2></li>
            <li><h3>Subtitle: {{ product.subtitle }}</h3></li>
            <li><p>Slug: {{ product.slug }}</p></li>
            <li><p>Description: {{ product.description }}</p></li>
            <li><p>Prise: {{ product.price }} $</p></li>
            <li><p>Date: {% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</p></li>
        {% endfor %}
    </ul>
    </article>
{% endblock %}
