{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    <ul>
        <li>
            <a href="{{ path('admin_product_new') }}">Create a new product</a>
        </li>
    </ul>
  <div class="container">
      <div class="row">
          <div class="col-md-9">
              <div class="row">
                {% for product in products %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="{{asset('uploads/product/' ~  product.path) }}" alt="">
                        <div class="caption">
                            <h4 class="pull-right">${{ product.price }}</h4>
                            <h4><a href="{{ path('admin_product_show',{'id':product.id}) }}">
                                    Title :{{ product.title }}</a>
                            </h4>
                            <h4>Subtitle:{{ product.subtitle }}</h4>
                            <p>Slug: {{ product.slug }} </p>
                            <p>Description: {{ product.description }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</p>
                            <p>
                                {% for i in 1.. product.rank %}
                                     <span class="glyphicon glyphicon-star"></span> 
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
          </div>
      </div>
          <div class="col-md-3">
              <p class="lead">Most popular product</p>
              {{ render(controller(
              'SoftuniProductsBundle:Product:mostPopular'
              )) }}
          </div>
    </div>
  </div>
{% endblock %}
