{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="{{asset('uploads/product/' ~  product.path) }}" alt="">
                        <div class="caption">
                            <h4 class="pull-right">${{ product.price }}</h4>
                            <h4><a href="{{ path('admin_product_show',{'id':product.id}) }}">
                                    Title :{{ product.title }}</a>
                            </h4>
                            <h4>Subtitle:{{ product.subtitle }}</h4>
                            <p>Slug: {{ product.slug }} </p>
                            <p>Description: {{ product.description }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</p>
                            <p>
                                {% for i in 1.. product.rank %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                            </p>
                            <p>
                                <span>
                                    <a href="{{ path('admin_product_index') }}"><<< Back to Products list</a>
                                </span>
                            </p>
                            <p>
                               <span>
                                   <a class="btn btn-default" href="{{ path('admin_product_edit',{'id':product.id}) }}">
                                       Edit
                                   </a>
                               </span>
                                <span>
                                {{ form_start(delete_form) }}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                {{ form_end(delete_form) }}
                            </span>
                            </p>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
